@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1724495108920') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xunhuan:before {
  content: "\e636";
}

.icon-shijian:before {
  content: "\e618";
}

.icon-wenjian:before {
  content: "\e63a";
}

.icon-rili:before {
  content: "\e696";
}

.icon-lubiaozhilupailumingpai:before {
  content: "\e6b9";
}

